/*上拉加载样式设置*/
.mui-pull-caption {
	font-size: 12px;
	color: #595757;
	font-weight: normal;
}


/*自适应代码*/

#noContent {
	background: #fff;
	text-align: center;
	height: 200px;
	line-height: 200px;
}

html,
#slider,
.mui-content {
	width: 100%;
	height: 100%;
}

body {
	/*margin-top: 45px;*/
	width: 100%;background:#fff;
	height: calc(100% - 45px);
}

.mui-slider-group {
	height: calc(100% - 45px);
}

.mui-control-content {
	background-color: white;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}


/*顶部整体*/

a {
	color: #000;
}

.header {
	height: 60px;
	padding-top: 20px;
	/*font-family: PingFang-SC-Medium;*/
}


/*去掉header默认的boxShadow*/

.mui-bar-nav {
	box-shadow: none;
}

.mui-content {
	/*background:rgb(239,239,239);*/
	background: #fff;
	margin-top: 22px;
}

.mui-content {
	/*padding: 0 0.2rem;*/
	/*font-family: PingFang-SC-Medium;*/
	background: #fff;
}

#header .navHeader {
	background: -webkit-gradient(linear, 0 0, 100% 0, from( #FFF85C), to( #FBBE00));
}


/*输入框*/

#header .searchInput {
	margin-top: 0.5rem;
	height: 0.915rem;
	line-height: 0.915rem;
	font-size: 12px;
	vertical-align: top;
	background: -webkit-gradient(linear, 0 0, 100% 0, from( #FFF85C), to( #FDDD5C));
}


/*搜索小图标*/

#header .searchIcon {
	color: #898989;
}

.searchInput input {
	position: relative;
}

.navHeader .headerSearch {
	font-size: 13px;
	color: #000;
	line-height: 13.5px;
	margin-top: 0.5rem;
}
.searchKeyWords  .searchInputKeyWord{
	background: -webkit-gradient(linear, 0 0, 100% 0, from( #FFF85C), to( #FDDD5C));
}


.mui-icon-back:before, .mui-icon-left-nav:before{
	color:#898989;
}


/*商品排序规则   列表*/
.mui-action-back{
	color:#898989;
}

.mui-segmented-control {
	border: none;
	font-size: 13px;
	/*line-height: 0.27rem;*/
	color: #676767;
	/*margin-bottom: 0.42rem*/
	/*margin-bottom: 20px;*/
}

.mui-segmented-control .mui-control-item {
	background: none;
	border-left: none;
	/*display:in*/
	margin-right: 0.15rem;
	color: #676767;
}

.mui-segmented-control.mui-scroll-wrapper .mui-control-item {
	/*margin:0 0.57rem;*/
}


/*点击之后,显示下划线,去掉背景色,字体颜色变为黄色*/

.mui-segmented-control .mui-control-item.mui-active {
	color: #FBBD00;
	/*border-bottom: 0.03rem solid #FBBD00;*/
	background: #fff;
}


/*活动列表*/

.allList {
	background: #fff;
}

.activityBlock {
	padding-bottom: 0.45rem;
	font-size: 0.36rem
}

.activityBlock .activityItem {
	/*float:left;*/
}
.activityBlock .ui-flex .activityItem{
	width:20%;
	/*background: red;*/
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	/*border-bottom: 1px solid #FBBD00;*/
	color: #FBBD00;
}

.mui-active {
	/*border-bottom: 1px solid #FBBD00;*/
	color: #FBBD00;
}

.mui-segmented-control.mui-scroll-wrapper .mui-control-item {
	padding-right: 0.57rem
}


/*产品列表*/

.goodsBlock {
	position: relative;
	height: 3.375rem;
	margin-top: 12px;
	border-bottom: 1px solid #F5F5F5;
	margin-left:0.2rem;
}

.goodsBlock .left,
.goodsBlock .middle,
.goodsBlock .right {
	display: inline-block;
	position: absolute;
}

.left {
	left: 0;
	top: 0;
}

.left img {
	width: 3rem;
	height: 3rem;
}


/*加入发送,蒙版层*/

.maskDiv {
	/*display:none;*/
	width: 3rem;
	height: 3rem;
	position: absolute;
	color: #fff;
	line-height: 3rem;
	text-align: center;
	top: 0;
	left: 0;
	font-size: 12px;
	/*background:#000000;opacity: 0.5;*/
	/*position: absolute;top: 0;width:100%;height: 100%;*/
	text-align: center;
	background: url(../static/img/goodsdetail/yijiar.png) rgba(0, 0, 0, 0.4) no-repeat center 25px;
	color: #fff;
	line-height: 100px;
	background-size: 30px;
	padding-top: 20px;
}

.maskDivNone {
	display: none;
}


/*仓库种类页面*/
#allList .left{
	/*margin*/
}

#allList .left img {
	width: 3rem;
	height: 3rem;
}

.middle {
	left: 3rem;
	padding-left: 0.24rem;
}

.middle P {
	margin-bottom: 0;
}

.middle .goodsName {
	font-size: 0.42rem;
	color: #000;
	/*font-weight: bold;*/
	margin-bottom: 0.18rem;
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 5rem;
}

.middle .goodDetail {
	color: #898989;
	/*font-size: 0.12rem;*/
	margin-right: 0.6rem;
	margin-bottom: 0.11rem;font-size:12px;
}

.middle .goodDetail .tbPrice {
	font-size: 0.36rem;
	margin-right: 0.645rem;text-decoration:line-through;
}

.middle .sellNum {
	-webkit-text-size-adjust: none;
	font-size: 0.24rem;
}

.middle .costPrice {
	color: #231815;
	font-size: 0.36rem;
	margin-bottom: 0.11rem;
}

.middle .fbPrice {
	font-size: 0.36rem;
	color: #FBBD00;
}


/*右边块*/

.right {
	left: 8.25rem;
	/*margin-left: 21px;*/
	width: 2.1rem;
	text-align: center;
}

.right span {
	display: block;
}

.right .profitText {
	color: #E60012;
	font-size: 0.39rem;
}

.right .profit {
	margin-bottom: 5px;
}

.right .addSend {
	width: 2.1rem;
	height: 0.615rem;
	font-size: 0.36rem;
	background: #fffa66;
	border-radius: 10px;
	margin-bottom: 0.33rem;color: #000;
}

.right .spread {
	width: 100%;
	height: 0.615rem;
	font-size: 0.36rem;
	background: #fcd14d;
	border-radius: 10px;color: #000;
}


/*//马上推广*/

.goodsProfit {
	display: none;
	position: fixed;
	z-index: 10000;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #EFEFEF;
}

.goodsProfit .goodsDetail {
	text-align: center;
}

.showBlock li {
	float: left;
	/*width:32px;*/
	font-size: 8px;
	text-align: center;
	margin-right: 10px;
}

.showBlock li img {
	/*width:22px;height:22px;*/
}

.showBlock li span {
	display: block;
	width: 100%;
}

.title-fixed {
	display: none;
	position: fixed;
	top: 60px;
	z-index: 9999;
	background: #fff;
	/*opacity: 0;*/
}

.paiXu-fixed {
	position: fixed;
	top: 98px;
	z-index: 9999;
	background: #fff;
}


/*种类 筛选  固定栏*/

.kindChooseList {
	/*background:gray;*/
}

.kindChooseBlock {
	height: 40px;
}

.kindChooseList a {
	border-bottom: 1px solid #FBBD00;
}

.kindChooseList a:visited {
	color: #FCCB58;
}


/*//商品种类页面
//底部选项卡*/

#allList .mui-slider .mui-slider-group .mui-slider-item img {
	width: 3rem !important;
	height: 3rem;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border: none;
}
