/*上拉加载样式设置*/
.mui-pull-caption {
	font-size: 12px;
	color: #595757;
	font-weight: normal;
}


#loading {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0;
				background: url(../../images/storehouse/icons/loading.gif) no-repeat center #fff;
				z-index: 9998;
				background-size: 70%;
				/*display: none;*/
			}



#waitingLoading {
				/*width: 100%;*/
				/*height:  calc(100% - 153px);*/
				width:100%;
				/*height:200px;*/
				/*position: fixed;*/
				/*top: 0px;*/
				background: url(../../images/storehouse/icons/loading.gif) no-repeat center #fff;
				/*z-index: 1;*/
				background-size: 70%;
				color: #fff;
				/*display: none;*/
			}
			

/*云店种类*/
/*输入框*/

.tbPrice{
	text-decoration: line-through;
}

#message{
				background: url(../images/my/message.png) no-repeat center;
				background-size: cover;
				width: 25px;
				height: 25px;
				display: inline-block;
				position: absolute;
				right: 10px;
				top: 28px;
			}



.header #searchInput{
	width: 85%;
	position: relative;
	top: 5px;
}

#sliderSegmentedControl {
	position: fixed;
	top: 60px;
	z-index: 999;
	width: 100%;
	background: #fff;
	height: 1.125rem;
	line-height:  1.125rem;
	font-size: 0.42rem;
	color: #676767;
}
/*云店分类*/
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	border-bottom: 1px solid #FBBD00;
	color: #FBBD00;
}

.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
	padding:0 0 0 0.555rem;
	color: #676767;
	border: none;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item:last-child{
				padding-right:0.555rem;
			}
/*头部固定栏      云店分类  */
.floatDiv:after{
	clear:both;
  	content:'.';
   	display:block;
   	width: 0;
   	height: 0;
  	visibility:hidden;
}




/*banner图*/

.banner {
	width: 100%;
	height: 113px;
}

.banner img {
	width: 100%;
	height: 113px;
}

.orderDiv {
	/*padding-left: 20px;*/
}

.showBlock {
	width: 100%;
	height: 30px;
	display: none;
}

/* 商品块*/
.storeGoodsList {
	background: #eee;
}

.storeGoodsList div {
	display: inline-block;
}
/*商品块*/

.storeGoodsList .storeGoodsBlock {
	width: calc(50% - 3px);
	/*margin-top: 3px;*/
	margin-bottom: 6px;
	margin-right: 6px;
	display: inline-block;
	float: left;
	background: #fff;
}

.storeGoodsBlock:nth-child(even) {
	margin-right: 0;
}

.storeGoodsList .goodsImg {
	/*width: 5.34rem;*/
	height: 5.34rem;
	width: 100%;
}

.storeGoodsList .goodsImg img {
	width: 100%;
	height: 5.34rem;
}

.storeGoodsDetail {
	padding: 0 8px;
	font-size: 12px;
}

.goodsDetailT,
.goodsDetailB {
	font-size: 10px;width:100%;
}

p {
	margin-bottom: 0;
}

.goodsName {
	font-size: 0.38rem;
	color: #000;
	overflow: hidden;
	height:20px;
	width:100%;
}
/*淘宝整块*/

.taoBaoBlock {
	/*width: 2.5rem;*/
	text-align: left;
}

.tbPrice {
	/*margin-right: 0.7rem;*/
	color: #898989;
	text-decoration: line-through;
}
/*翻宝整块*/

.fbPrice {
	margin-top:2px;
				display: inline-block;
				text-align: left;
				/*width:2.5rem;*/
				/*margin-right:0.4rem;*/
}
.fbPriceNum{
				font-size:14px;
				color:#FF3A46;
			}
			.priceFlag{
				font-size:11px;color:#FF3A46;
			}
.sellNum,.costPrice{
	font-size:10px;
				float: right;color: #898989;
}
.sellNum{
				display:inline-block;
				border:1px solid #fbbd00;
				border-radius:2px;
				height:14px;color:#fbbd00;
				line-height:14px;
				margin-top:5px;
				/*padding:3px;*/
			}
.fbPrice {
	display: inline-block;
	text-align: left;
	/*width: 2.5rem;*/
}

.fanbaoPrice {
	font-size: 14px;
	color: #FBBD00;
}
.goodsDetailB{
	padding-bottom:3px;
}

/*排序方式  公共部分*/

.publicOrder{position:fixed;top:96px;width:100%;
display:none;background:#fff;z-index:10;font-size:0.37rem;

}
.publicOrder .kOrderBlock{
	border-top:1px solid #EEEEEE;
}
#orderBlock{width:100%;height: 1.125rem;line-height:  1.125rem;color:#595757;}
#orderBlock .zhpxText{width:3.6rem;text-align:left;margin-left:0.525rem;}

#orderBlock .zhpxText .upArrow{
	display: inline-block;width: 0;height: 0;
	border-top: 6px solid #FBBD00;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
#orderBlock .xlText{
	margin-right:1rem;
}
#orderBlock .yhldText{
	/*margin-right:0.555rem;*/
}
/*综合排序*/
.publicOrder ul li{
	margin-right:0.54rem;
}


/*选项卡内部的   排序方式*/
.mui-content .kOrderBlock{width:100%;height:40px;line-height:40px;background: #fff;
font-size:0.39rem;color:#595757;}


.kOrderBlock .zhpxText{
	width:3.6rem;text-align:left;margin-left:0.525rem;
	color:#FBBD00;
}
.kOrderBlock .zhpxText .upArrow{
	display: inline-block;width: 0;height: 0;
	border-top: 6px solid #FBBD00;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
.kOrderBlock .xlText{
	margin-right:1rem;
}
.kOrderBlock.yhldText{
	/*margin-right:0.555rem;*/
}
.kOrderBlock .sxText{
	margin-left:0.8rem;position:relative;
}
.kOrderBlock .sxIcon,.kOrderBlock .sxIconColor{
	width:0.2rem;height:0.24rem;display:inline-block;
	/*position: absolute;right:0;float:right;*/
}
.kOrderBlock .sxIcon img,.kOrderBlock .sxIconColor img{
	width:0.2rem;height:0.24rem;
	/*margin-left:0.1rem;*/
}
.kOrderBlock .sxIconColor{
	display:none;
}
/*综合排序    内容块*/
.zhpxList {
	font-size: 12px;
	color: #676767;
	/*position: fixed;*/
	/*top: 131px;*/
	background: #fff;
	/*z-index: 9997;*/
	width: 100%;
	display: none;border-top:1px solid #EEEEEE ;
}

.sliderCard .zhpxList li {
	margin: 0 0.52rem 0 0;
}
.selectIcon {
	display: none;
}
/*默认情况下,综合排序  选中*/
.zhpxList .defaultOrder a{
	color:#FBBD00;
}
.zhpxList .defaultOrder .selectIcon{
	display:inline-block;
}

.zhpxList .defaultOrder {
	color: #FBBD00;
}

.defaultOrder .selectIcon {
	display: inline-block;
}


/*综合排序列表   小图标*/
@font-face {
	font-family: "iconfont";
	src: url('../../fonts/iconfont.ttf?t=1503591788319') format('truetype');
	/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 26px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.icon-selected:before {
	content: "\e6ad";
}




/*综合排序*/
.clearFloat {
	clear: both;
}



/*选项卡样式*/
.sliderCard {
	margin-top: 40px;
}

.clearfloat {
	clear: both;
}
