/*header*/
/*大约1440px*/
@media screen and (min-width: 1440px){
	
	/*右边*/
	.contentBlock{margin:0 30px;}
	
	.contentBlock .searchBlock{padding:12px 9px;background:#fff;}
	
	/*.fillWapper{margin-bottom:10px;}*/
	.fillWapper .form-group{display:inline-block;
	float:left;margin-right:15px;}
	.fillWapper .form-group:last-child{
		margin-right:0;
	}
	.fillWapper .fillTitle{
	display:inline-block;width:68px;height:28px;line-height:28px;float:left;
	border:1px solid #C0C0C0;font-size:12px;color:#333;background: #F6F6F6;
	text-align:center;
	}
	.dropdown{display:inline-block;float:left;}
	.dropdown input{height:28px;
	line-height:28px;text-indent:2;
	font-size:12px;color:#333;
	border:1px solid #C0C0C0;background:url(../../img/order/arrowicon.png) no-repeat center right;border-left:none;}
	.dropdown ul{margin-top:0px;border-top:none;}
	.dropdown li{width:266px;height:30px;}
	/*.fillWapper:last-child{padding-bottom:30px;}*/
	
	/*搜索项*/
	.searchItem input{width:120px;}
	.searchItem .dropdown li{width:188px;}
	/*订单类型*/
	
	.orderType .form-group:last-child{
		margin-right:0;
	}
	.orderType input{width:230px;}
	.orderType .dropdown li{width:230px;}
	/*商品金额    结算金额*/
	.goodsPrice .priceWapper{
		display:inline-block;float:left;
		width:230px;height:28px;border:1px solid #C0C0C0;border-left:none;
	}
	.goodsPrice .priceWapper input{
		width:45%;text-align:center;
		height:16px;line-height:16px;
	}
	.goodsPrice .priceWapper span{
		display:inline-block;height:28px;
		line-height:28px;
	}
	.input-group-addon{padding:0;}
	/*下单时间*/
	.form-control{padding:0;}
	.goodsPrice .postOrderTimeWapper{
		display:inline-block;float:left;
		width:300px;height:28px;border:1px solid #C0C0C0;border-left:none;
	}
	.goodsPrice .postOrderTimeWapper .input-group{
		text-align:center;width:48%;float:left;
		height:24px;line-height:24px;border:none;
		/*background:red;*/
	}
	.goodsPrice .postOrderTimeWapper .sepflag{
		float:left;display:inline-block;
		height:24px;line-height:24px;
	}
	.goodsPrice .postOrderTimeWapper .input-group-addon{
		/*margin-top:-5px;*/
		display:inline-block;width:26px;height:26px;
	}
	.goodsPrice .postOrderTimeWapper .input-group-addon{
		padding-top:0;
		float:left;height:26px;line-height:26px;border:none;
		background:#fff;
	}
	.goodsPrice .postOrderTimeWapper .input-group input{
		width:80%;float:left;
		height:26px;line-height:26px;
		border:none;background:#fff;
	}
	/*导出为Excel*/
	/*.operateBtn {margin-top: 15px;padding-right: 3px;}*/
	.operateBtn{display:inline-block;}
	.operateBtn button {width: 100px;height: 30px;border-radius: 4px;
		color: #fff;font-size: 12px;font-family: "微软雅黑";
		background: #FF3A46;float: right;
	}
	/*导出Excel*/
	/*.operateBtn .excelBtn {margin-right:15px;}*/
	/*查询*/
	/*.operateBtn .searchBtn {}*/
	.exportExcel {margin-top:12px;position: relative;height:30px;width:100%;}
	.contentBlock .exportExcel .excelBtn{position:absolute;right:0;
	background:#FBBD00;}
	/*商品信息表*/
	/*商品信息表*/
	.goodsInfoTable{color:#333;}
	.goodsInfoTable thead td{border:1px solid #C0C0C0;background:#eee;text-align: center;}
	.goodsInfoTable tbody td{border:1px solid #C0C0C0;background:#fff;text-align: center;}
	.goodsInfoTable a{color:#FBBD00;}
	
}


/*小于1440*/
@media screen and (max-width: 1440px){
	.contentBlock{margin:0 40px;}
	
	.contentBlock .searchBlock{padding:30px 20px;background:#fff;}
	
	/*.fillWapper{margin-bottom:10px;}*/
	.fillWapper .form-group{display:inline-block;
	float:left;margin-right:15px;}
	.fillWapper .form-group:last-child{
		margin-right:0;
	}
	.fillWapper .fillTitle{
	display:inline-block;width:104px;height:48px;line-height:48px;float:left;
	border:1px solid #C0C0C0;font-size:16px;color:#333;background: #F6F6F6;
	text-align:center;
	}
	.dropdown{display:inline-block;float:left;}
	.dropdown input{height:48px;
	line-height:48px;text-indent:2;
	font-size:14px;color:#333;
	border:1px solid #C0C0C0;background:url(../../img/order/arrowicon.png) no-repeat center right;border-left:none;}
	.dropdown ul{margin-top:0px;border-top:none;}
	.dropdown li{width:266px;height:30px;}
	/*.fillWapper:last-child{padding-bottom:30px;}*/
	
	/*搜索项*/
		.searchItem input{width:188px;}
	.searchItem .dropdown li{width:188px;}
	/*订单类型*/
	
	.orderType .form-group:last-child{
		margin-right:0;
	}
	.orderType input{width:370px;}
	.orderType .dropdown li{width:370px;}
	/*商品金额    结算金额*/
	.goodsPrice .priceWapper{
		display:inline-block;float:left;
		width:370px;height:48px;border:1px solid #C0C0C0;border-left:none;
	}
	.goodsPrice .priceWapper input{
		width:48%;text-align:center;
		height:44px;line-height:44px;
	}
	.goodsPrice .priceWapper span{
		display:inline-block;height:48px;
		line-height:48px;
	}
	
	/*下单时间*/
	.goodsPrice .postOrderTimeWapper{
		display:inline-block;float:left;
		width:370px;height:48px;border:1px solid #C0C0C0;border-left:none;
	}
	.goodsPrice .postOrderTimeWapper .input-group{
		text-align:center;width:48%;float:left;
		height:44px;line-height:44px;border:none;
		/*background:red;*/
	}
	.goodsPrice .postOrderTimeWapper .sepflag{
		float:left;display:inline-block;
		height:44px;line-height:44px;
	}
	.goodsPrice .postOrderTimeWapper .input-group-addon{
		/*margin-top:-5px;*/
		display:inline-block;width:26px;height:26px;
	}
	/*.goodsPrice .postOrderTimeWapper span{
		display:inline-block;height:44px;
		line-height:44px;float:left;background:#fff;
		border:none;margin-right:12px;
	}*/
	.goodsPrice .postOrderTimeWapper .input-group-addon{
		padding-top:0;
		float:left;height:46px;line-height:46px;border:none;
		background:#fff;
	}
	.goodsPrice .postOrderTimeWapper .input-group input{
		width:80%;float:left;height:46px;line-height:46px;
		border:none;background:#fff;margin-left:6px;
	}
	.operateBtn {margin-top: 15px;padding-right: 3px;}
	.operateBtn button {width: 200px;height: 50px;border-radius: 10px;
		color: #fff;font-size: 18px;font-family: "微软雅黑";
		background: #FF3A46;float: right;
	}
	/*导出Excel*/
	.operateBtn .excelBtn {margin-right:15px;}
	/*查询*/
	/*.operateBtn .searchBtn {background: #FF3A46;float: right;}*/
	
	/*商品信息表*/
	.goodsInfoTable{margin-top:60px;}
	.goodsInfoTable thead td{border:1px solid #C0C0C0;background:#eee;text-align: center;}
	.goodsInfoTable tbody td{border:1px solid #C0C0C0;background:#fff;text-align: center;}
	.goodsInfoTable a{color:#FBBD00;}
	.goodsInfoTable a:hover{color:#FBBD00};
}


























